h1, h2, h3{
  font-family: 'Titillium Web', sans-serif !important;
  font-weight: 900 !important;
  color: #333 !important;
}
h4, h5, h6{
  font-family: 'Titillium Web', sans-serif !important;
  font-weight: 700 !important;
  color: #333 !important;
  font-size: 1rem !important;
}

p, span, small, label, input, textarea, a{
  font-family: 'Nunito Sans', sans-serif !important;
  font-weight: 400 !important;
  color: #333 !important;
  font-size: 0.8rem !important;
}

a{
  font-family: 'Nunito Sans', sans-serif !important;
  color: #333 !important;
}

button{
  font-family: 'Nunito Sans', sans-serif !important;
  font-weight: 200 !important;
  color: #fff !important;
  font-size: .9rem !important;
  background-color: #00A7BE !important;
  border-radius: 90px !important;
  padding: 10px !important;
}

.inputRounded{
  border-radius: 100px;
  overflow: hidden;
}

.inputRounded input{
  padding-top: 16.5px;
  padding-bottom: 16.5px;
}

.inputRounded .MuiInputAdornment-root{
  margin-top: 0px !important;
}
.inputRounded .MuiInputBase-root:before, 
.inputRounded .MuiInputBase-root:after,  
.inputRounded .Mui-Focused:hover:not(.Mui-disabled, .Mui-error):before,
.inputRounded .MuiInputBase-root:hover:not(.Mui-disabled, .Mui-error):before{
  border-bottom: none;
}

.inputRounded input:-internal-autofill-selected{
  background-color: transparent !important;
}

.inputRounded input::placeholder {
  color: #333;
  opacity: 1;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
